@define-mixin atSmall {
	@media (min-width: 530px) {
		@mixin-content;
	}
}

@define-mixin atMedium {
	@media (min-width: 800px) {
		@mixin-content;
	}
}

@define-mixin atLarge {
	@media (min-width: 1010px) {
		@mixin-content;
	}
}

/* Desktop Specific */
@define-mixin desktopAtSmall {
	@media (min-width: 1024px) {
		@mixin-content;
	}
}

@define-mixin desktopAtMedium {
	@media (min-width: 1366px) {
		@mixin-content;
	}
}

@define-mixin desktopAtLarge {
	@media (min-width: 1920px) {
		@mixin-content;
	}
}

@define-mixin desktopAtLarger {
	@media (min-width: 2560px) {
		@mixin-content;
	}
}



@define-mixin clearfix {
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}