.btn {
  &:link,
  &:visited {
    opacity: 0.85;
    transition: opacity .3s;
  }

  &:hover {
    opacity: .98;
    color: $greyDark;
    transform: translateY(-2px);
  }
  
  &:active {
    opacity: 1;
    transform: translateY(-1px);
  }
}