.large-hero {
	position: relative;
	margin: 0 auto;
	text-align: center;
	z-index: 10;
	
	&__image {
		display: none;
		width: 100vw;
		height: auto;
	}

	@mixin atMedium {
		&__image {
			display: block;
			margin: 0, auto;
		}
	}

	&__content {
		position: absolute;
		padding: 0 18px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 1200px;
		text-align: left;

		@mixin atMedium {
			max-width: 100vw;
		}

	}

	&__text {
		margin-bottom: 4.375rem;
		backface-visibility: hidden;
		transform: translateZ(0) scale(1, 1);
	}

	&__title {
		font-size: 1.5rem;
		margin: .3em 0 .2em 0;
		@mixin atMedium {
			font-weight: 300;
			font-size: 3.75rem;
			margin: 0;
		}
	}

	&__subtitle {
		margin: 0;
		font-weight: 300;
		font-size: .85rem;
		@mixin atMedium {
			font-size: 2.25rem;
		}
	}

	&__btn {
		display: inline-block;
		padding: 1.25rem 4.1875rem;
		border: 2px solid $mainYellow;
		border-radius: 10px;
		margin-right: .2rem;
		font-size: 1.25rem;

		&:hover {
			background-color: $mainYellow;
			color: $greyDark;
		}

		&--explore	 {
			background-color: $greyLight;
			color: $mainYellow;
		}

		&--contact {
			background-color: $mainYellow;
			color: $greyLight;
		}
	}

}