.large-hero {
	position: relative;
	margin: 0 auto;
	text-align: center;
	
	&__image {
		display: none;
		width: 100vw;
		height: auto;
	}

	@mixin atMedium {
		&__image {
			display: block;
			margin: 0, auto;
		}
	}

	&__text-content {
		display: block;
		text-align: left;
		max-width: 1200px;
		padding: 1.2rem 18px 0px 18px;
		width: 1200px;
		position: absolute;
		top: 35%;
		left: 50%;
		transform: translateX(-50%);
		padding: 0 18px;

		@mixin atMedium {
			width: 100vw;
		}

		@mixin desktopAtMedium {
			width: 1200px;
		}
		
	}

	&__title {
		font-size: 1.5rem;
		margin: .3em 0 .2em 0;
		@mixin atMedium {
			font-weight: 300;
			font-size: 3.75rem;
			margin: 0;
		}
	}

	&__subtitle {
		margin: 0;
		font-weight: 300;
		font-size: .85rem;
		@mixin atMedium {
			font-size: 2.25rem;
		}
	}

}