.row {
	@mixin clearfix;

	&__3 {
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	@mixin atMedium {
		&--gutters > div {
			margin-right: $gutter;
		}

		&__3 {
			width: calc((100% - (2 * $gutter)) / 3);
			float: left;
			margin-bottom: 0;

			&:last-child {
				margin-right: 0;
			}
		}		
	}

}