.site-nav {
	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
	}

	a {
		&:link,
		&:visited {
			color: $mainYellow;
			text-decoration: none;
		}

		&:hover {
			border-bottom: 2em solid $mainYellow;
		}
	}

	&--main {
		display: none;
		@mixin atMedium {
			display: block;
			padding-top: .8rem;
			padding-right: 4rem;
			float: right;

			li {
				display: block;
				float: left;
			}

			a {
				&:link,
				&:visited {
					padding: 4px 8px;
				}
			}


		}
	}
}