.site-nav {
	ul {
		margin: 0;
		padding: 0;

		@mixin atMedium {
			margin-right: -.5rem;
		}
	}

	li {
		list-style: none;
	}

	&__main {
		display: none;

		@mixin atMedium {
			display: block;
			float: right;
			padding: 1rem 0;

			li {
				display: block;
				float: right;
				margin-right: .5rem;
			}

			&-link {
				&:link,
				&:visited {
					padding: 4px .5rem;
					color: $mainYellow;
				}

				&:hover {
					color: $greyDark;
				}
			}
			
			&-btn {
					padding: 1rem;
					background-color: $mainYellow;
					color: $greyLight;
					border-radius: 0.625rem;
			}

		}
	}
}